* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.2;
}

h1 {
  margin-bottom: 10px;
}

.page-container-without-footer {
  height: 100vh;
  margin-bottom: -50px;
}

.logo-container {
  height: 200px;
  background-color: rgb(69, 69, 224);
  width: 100%;
  text-decoration: none;
  color: white;
}

main ul {
  margin: 20px 0 20px 40px;
}

main li {
  margin-bottom: 5px;
}

#navbar {
  width: 350px;
  height: 100%;
  display: inline-block;
  background-color: grey;
  text-align: center;

}


#menu-open-btn {
  display: none;
  position: absolute;
  top: 65px;
  right: 20px;
  padding: 5px;
  font-size: 20px;
  background-color: white;
  border-style: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#menu-open-btn:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 38px, rgba(255, 255, 255, 0.22) 0px 0px 12px;
}

#menu-close {
  display: none;
}

.nav-and-button {
  width: 80%;
  margin: auto;
  padding: 15% 5% 5% 5%;
  margin-top: 200px;
}


nav li,
#menu-close {
  list-style: none;
  text-decoration: none;
  border-style: none;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(69, 69, 224);
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.nav-link {
  width: 100%;
  display: inline-block;
}

nav li a,
#menu-close {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

p {
  margin-bottom: 10px;
}

h2,
h3 {
  margin-top: 10px;
}

button:hover {
  cursor: pointer;

}

header {
  z-index: 2;
  position: relative;
}

.logo {
  margin-top: 25px;
  margin-left: 25px;
  height: 150px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.date_div {
  padding: 10px;
  top: 25px;
  right: 25px;
  background-color: white;
  position: absolute;
}


.logo:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 38px, rgba(255, 255, 255, 0.22) 0px 0px 12px;
}

main {
  display: inline-block;
  padding: 5% 15% 5% 15%;
  width: 100%;
  margin-top: 200px;
}


.flex {
  display: flex;
  height: 100vh;
  margin-top: -200px; 
}

/*.navbar-toggle {
  padding: 5px 10px 5px 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
}*/

#menu-close:hover,
nav li:hover {
  background-color: grey;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 38px, rgba(255, 255, 255, 0.22) 0px 0px 12px;
}

footer {
  height: 50px;
  background-color: rgb(69, 69, 224);
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}

footer p {
  padding-top: 10px;
}

footer a {
  color: white;
}


/* Styling för mellanstora skärmar */
@media (min-width: 600px) and (max-width: 1300px) {
  main {
    padding: 5%;
  }
}

/* Styling för små skärmar */
@media only screen and (max-width: 600px) {

  main {
    padding: 5% 3% 5% 3%;
  }

  .logo {
    margin-top: 57px;
    margin-left: 15px;
    height: 50px;
  }

  .date_div {
    padding: 10px;
    top: 0px;
    right: 0px;
    background-color: white;
    position: absolute;
    width: 100%;
  }

  .logo-container {
    height: 125px;
  }

  #navbar {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    bottom: 0;
  }

  #menu-open-btn {
    display: block;
  }

  footer p {
    padding-top: 5px;
  }


}