@page
@model MyApp.Namespace.AboutModel
@{
}

<div class="">
    <h1 class="">Om sidan</h1>
    <p>Hej jag heter <b>Markus Vickman</b> och det här är den första webbplatsen jag skapat med Razor pages.</p>
    <p>I tidigare kurs DT071G Programmering I C# .NET skapade jag en matteapplikation för att träna enklare huvudräkning. 
        Det var kul att testa på lite annan typ av systemutveckling då det var en applikation som släpptes till Android och Windows
         med .NET MAUI.</p>
         <p>Jag ser framemot att få lära mig mer Om .NET i denna kurs.</p>


    @{

    }
</div>