@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <h1 class="">Välkommen till min Razor Webbplats</h1>
    <p>Denna Webbplats är del 1 av 2 i kursen Webbutveckling i .NET, Moment 1 - Grunderna i .NET</p>
    <p>I denna uppgift ska du skapa en enklare webbplats med ASP.net Core.
        (ASP.NET Core Web App (Razor Pages)).</p>

    <p><b>Webbplatsen ska innehålla följande undersidor:</b></p>
    <ul>
        <li>Startsida med valfri information</li>
        <li>Razor - undersida med diverse innehåll skapat dynamiskt med Razor (se nedan)</li>
        <li>Om Sidan - information om dig som skapat webbplatsen</li>
    </ul>
</div>
