@page
@model MyApp.Namespace.RazorModel
@{
    var date = DateTime.Today;

    var dateTime = DateTime.Now;

    var dayName = "";
    if (date.DayOfWeek == DayOfWeek.Friday)
    {
        dayName = "Idag är det fredag!";
    }
    else
    {
        dayName = "Idag är det inte fredag!";
    }

    string[] courses = {"DT057G, Webbutveckling I", "DT084G, Introduktion till programmering i JavaScript", "DT200G, Grafisk teknik för webb", "DT068G, Webbanvändbarhet", "DT003G, Databaser", "DT211G,	Frontend-baserad webbutveckling", "DT207G, Backend-baserad webbutveckling", "DT208G, Programmering i TypeScript", "IK060G, Projektledning", "DT071G, Programmering i C#.NET", "DT193G, Fullstack-utveckling med ramverk", "DT209G, Webbutveckling för WordPress", "DT191G, Webbutveckling med .NET", "DT210G, Fördjupad frontend-utveckling", "DT140G, Självständigt arbete"};



}

<div class="">
    <h1 class="">Razor</h1>
    <h2>Information:</h2> 
    <p>Det här är en Razor pages webbplats.</p>

    <p><b>Datum/klockslag:</b> @dateTime</p>
    <p>@dayName</p>
    
    <h2>Kurser jag läst:</h2>
    <ul>
    @{
        foreach (string i in courses) {
            <li>@i</li>
        }
    }
    </ul>
</div>
